## import packages and data

In [1]:
# import packages
import numpy as np
import pandas as pd

In [3]:
# import data
exp_rep = pd.read_excel("For_experimenters\jegyzőkönyv_transfer.xlsx", skiprows = [0, 1], header = None)

## create design table (for further analysis)

In [4]:
# extract info from experiment report: type of ASRT, sequence type
design_table = exp_rep.iloc[:, [0, 1, 16, 17, 18, 19]]
design_table.head()

   0   1          16         17  18  19
0   2   0  perceptuo    motoros  A4  A4
1   3   0  perceptuo    motoros  A3  A3
2   4   0    motoros  perceptuo  A5  A5
3   5   0  perceptuo    motoros  A4  A4
4   6   0  perceptuo    motoros  A2  A2

In [5]:
# rename cols
design_table = design_table.rename(columns={0: 'subject', 1: 'to_drop', 16 : 's1_asrt_type', 17 : 's2_asrt_type', 18 : 's1_sequence_type', 19 : 's2_sequence_type'})
design_table.head()

,subject,to_drop,s1_asrt_type,s2_asrt_type,s1_sequence_type,s2_sequence_type
0,2,0,perceptuo,motoros,A4,A4
1,3,0,perceptuo,motoros,A3,A3
2,4,0,motoros,perceptuo,A5,A5
3,5,0,perceptuo,motoros,A4,A4
4,6,0,perceptuo,motoros,A2,A2

In [6]:
# slice sequence type col
design_table['s1_sequence_type'] = design_table['s1_sequence_type'].str[1]
design_table['s2_sequence_type'] = design_table['s2_sequence_type'].str[1]
design_table.head()

,subject,to_drop,s1_asrt_type,s2_asrt_type,s1_sequence_type,s2_sequence_type
0,2,0,perceptuo,motoros,4,4
1,3,0,perceptuo,motoros,3,3
2,4,0,motoros,perceptuo,5,5
3,5,0,perceptuo,motoros,4,4
4,6,0,perceptuo,motoros,2,2

In [7]:
# is changing sequence
design_table['is_changing_seq'] = 0

for i in range(len(design_table)):
    if (pd.notna(design_table['s1_sequence_type'][i])) and (design_table['s1_sequence_type'][i] != design_table['s2_sequence_type'][i]):
        design_table['is_changing_seq'][i] = 1

C:\Users\nagyc\AppData\Local\Temp\ipykernel_9284\407903898.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  design_table['is_changing_seq'][i] = 1

In [8]:
# is changing task
design_table['is_changing_task'] = 0

for i in range(len(design_table)):
    if design_table['s1_asrt_type'][i] != design_table['s2_asrt_type'][i]:
        design_table['is_changing_task'][i] = 1

C:\Users\nagyc\AppData\Local\Temp\ipykernel_9284\4290952202.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  design_table['is_changing_task'][i] = 1

In [9]:
# add group label:
design_table['group'] = 0

for i in range(len(design_table)):
    if design_table['is_changing_task'][i] == 1:
        design_table['group'][i] = 1
        if design_table['is_changing_seq'][i] == 1:
            design_table['group'][i] = 2
    else:
        design_table['group'][i] = 3

C:\Users\nagyc\AppData\Local\Temp\ipykernel_9284\4188918569.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  design_table['group'][i] = 1
C:\Users\nagyc\AppData\Local\Temp\ipykernel_9284\4188918569.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  design_table['group'][i] = 3
C:\Users\nagyc\AppData\Local\Temp\ipykernel_9284\4188918569.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  design_table['group'][i] = 2

In [10]:
# add condition label:
design_table['condition'] = 0

for i in range(len(design_table)):
    if design_table['group'][i] == 1:
        design_table['condition'][i] = 1
        if design_table['s1_asrt_type'][i] == 'perceptuo':
            design_table['condition'][i] = 2
    elif design_table['group'][i] == 2:
        design_table['condition'][i] = 3
        if design_table['s1_asrt_type'][i] == 'perceptuo':
            design_table['condition'][i] = 4
    elif design_table['group'][i] == 3:
        design_table['condition'][i] = 5
        if design_table['s1_asrt_type'][i] == 'perceptuo':
            design_table['condition'][i] = 6

C:\Users\nagyc\AppData\Local\Temp\ipykernel_9284\3930830967.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  design_table['condition'][i] = 1
C:\Users\nagyc\AppData\Local\Temp\ipykernel_9284\3930830967.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  design_table['condition'][i] = 2
C:\Users\nagyc\AppData\Local\Temp\ipykernel_9284\3930830967.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  design_table['condition'][i] = 5
C:\Users\nagyc\AppData\Local\Temp\ipykernel_9284\3930830967.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  design_table['condition'][i] = 6
C:\Users\nagyc\AppData\Local\Temp\ipykernel_9284\3930830967.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  design_table['condition'][i] = 3
C:\Users\nagyc\AppData\Local\Temp\ipykernel_9284\3930830967.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  design_table['condition'][i] = 4

In [11]:
# drop participants
design_table = design_table.drop(design_table[design_table['to_drop'] == 1].index)

In [12]:
# save
design_table.to_csv('processed_data/design_table.csv')

## create general data table

In [13]:
# extract info from experiment report: sex, years of education, age
data_general = exp_rep.iloc[:, [0, 3, 4, 5, 7]]

In [14]:
# rename cols
data_general = data_general.rename(columns = {0 : 'subject', 3 : 'sex', 4 : 'date_of_birth', 5 : 'education_years', 7 : 'date_of_experiment'})

In [15]:
# merge with design table
data_general = data_general.merge(design_table, on = 'subject')

In [16]:
# drop participants
data_general = data_general.drop(data_general[data_general['to_drop'] == 1].index)

In [17]:
# recode sex
data_general['sex'] = data_general['sex'].replace({'F': 'male', 'N': 'female'})

In [18]:
# calculate age
data_general['date_of_birth'] = pd.to_datetime(data_general['date_of_birth'], format='%Y.%m.%d.')
data_general['date_of_experiment'] = pd.to_datetime(data_general['date_of_experiment'], format='%Y.%m.%d.')

data_general['age'] = (
    data_general['date_of_experiment'].dt.year - data_general['date_of_birth'].dt.year
    - ((data_general['date_of_experiment'].dt.month < data_general['date_of_birth'].dt.month) |
       ((data_general['date_of_experiment'].dt.month == data_general['date_of_birth'].dt.month) &
        (data_general['date_of_experiment'].dt.day < data_general['date_of_birth'].dt.day))
      ).astype(int)
)

In [19]:
# save file
data_general.to_csv('processed_data/data_general.csv')